@media only screen and (max-device-width: 700px) {
     /*Conteudo será carregado apenas em dispositivos com com tela menor que 700px*/
}

@media only screen and (max-width:700px){
    /*Conteudo será carregado sempre que a tela for menor que 700px*/
   .container{
       width: 90vw;
   }

   .itemPortfolio{
        width: 95%;
        height: 50vw;
        margin-bottom: 60px;
   }

   .infoBloco{
    width: 200px;
    height: 110px;
   }
}


@media only screen and (max-width:550px){
    /*Conteudo será carregado sempre que a tela for menor que 550px*/
   #logo-nav{
       display: none;
   }

   .infoBloco{
    width: 180px;
    height: 90px;
    font-size: 90%;
   }

}

@media only screen and (min-width:701px){
     /*Conteudo será carregado sempre que a tela for maior que 701px*/
    .container{
        width: 70vw;
    }
    .logo-nav{
        padding-left: 10%;
    }
 
    .conteudoNav{
        padding-right: 10%;
    }

    .itemPortfolio{
        min-width: 250px;
        flex-grow: 1; /* determina que os item ocupem a linha toda (como o width acima faz) */
        flex-basis: 0; /*força todos os itens a terem o mesmo tamanho*/
        height: 15vw;
        padding-right: 10px;
        padding-bottom: 50px;
    }

    .infoBloco{
        width: 210px;
        height: 12vw;
       }
}

html{
    scroll-behavior: smooth;
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(70, 70, 70);
}

p, h1, h2, h3, h4, h5 {
    margin-bottom: 10px;
}

h1{
    font-size: 26pt;
}

body{
    background: url("../imgs/infowallpaper.jpg") no-repeat right top fixed;
}

.conteudo{
    margin-top: 180px;
    border-radius: 10px;
    background-color: rgb(233, 233, 233);
}


.imgFoto img{
    width: 200px;
    border-radius: 100px;
    border: 2px solid rgb(120, 120, 120);
    margin-bottom: 10px;
}

.container{
    margin: 0 auto;
}

.tamContainerPc{
    width: 70vw;
}

.tamContainerMobile{
    width: 90vw;
}

.linha{
    width: 100%;
    display: flex;
    flex-direction: row;
}

.quebra{
    flex-wrap: wrap;
}

.coluna{
    display: flex;
    flex-direction: column;
}

.centerH{
    justify-content: center;
}

.centerV{
    align-items: center;
}

.alinharD{
    justify-content: flex-end;
}

.alinharE{
    justify-content: flex-start;
}

.logo-nav{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.conteudoNav{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.paddingL10{
    padding-left: 10%;
}

.paddingR10{
    padding-right: 10%;
}

.menu{
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: rgb(49, 49, 49);
    opacity: 0.95;
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
}

.menuAnimDown {
    position: fixed;
    margin-top: -50px;
    transition: transform 2s;
    transform: translateY(50px);
}

.menuAnimUp {
    position: fixed;
    margin-top: -55px;
    transition: transform 2s;
    transform: translateY(-50px);
}

.logo-nav img{
    width: 100px;
    padding: 5px;
}

.menu-lista{
    display: flex;
}

.menu-item{
    list-style: none;
    padding: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 12pt;
    color: rgb(243, 243, 243);
    text-decoration: none;
    
}


.menu-item:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
    cursor: pointer;

}


.section{
    border-left: 4px solid rgb(98, 98, 255);
    padding-left: 10px;
    margin-bottom: 50px;
}

section{
    min-height: 90vh;
    padding-top: 70px;
}

.infoBloco{
    margin: 5px;
    border-radius: 10px;
    border: 1px solid rgb(156, 156, 156);
    flex-grow: 1;
    flex-basis: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(70, 70, 70);
}

.infoLinha{
    height: 200px;
    margin: 5px;
    border-radius: 10px;
    border: 1px solid rgb(156, 156, 156);
    flex-grow: 1;
    flex-basis: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(70, 70, 70);
}

.sobreMim{
    text-align: justify;
}

.redesSociais{
    display: flex;
}

.redesSociais img{
    width: 40px;
    height: 40px;
    padding-right: 10px;
}

.imgSeta img{
    width: 30px;
    height: 20px;
}

.imgSeta div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgb(190, 190, 190);
    border-radius: 100px;
}

.imgSeta div:hover{
    background-color: rgb(150, 150, 150);
    cursor: pointer;
}

.portfolio{
    display: flex;
    flex-wrap: wrap;
}


.itemPortPc{
    /*width: calc(33.33% - 20px);*/
    flex-grow: 1; /* determina que os item ocupem a linha toda (como o width acima faz) */
    flex-basis: 0; /*força todos os itens a terem o mesmo tamanho*/
    height: 15vw;
}

.itemPortMobile{
    width: 95%;
    height: 50vw;
    margin-bottom: 60px;
}

.itemPortfolio{
    margin-left: 10px;
}

.itemPortfolio .divTit{
    height: 20px;
}

.itemPortfolio .divTit h5{
    margin: 0;
    padding: 0;
    color: rgb(99, 99, 99);
    font-size: 11pt;
}


.itemPortfolio .divImg{
    background-color: rgb(226, 226, 226);
    border-radius: 10px;
    width: 100%;
    height: calc(100% - 20px);
}

.divImg img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}


.contato{
    display: flex;
    flex-direction: column;
}
.contato img{
    width: 80px;
    margin-right: 30px;
}
.contato .dados{
    display: flex;
    height: 200px;
    align-items: center;
}


footer{
    text-align: end;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid rgb(120, 120, 120);
    background-color: rgb(180, 180, 180);
    opacity: 0.8;
}

.copy{
    font-size: 1.2em;
}

footer .motivacional{
    text-align: start;
    font-size: 0.8em;
}

footer .citacao{
    font-size: 1.2em;
    font-style: italic;
}