*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(202, 202, 202);
}

.container{
    width: 70vw;
    height: 100vh;
    margin: 0 auto;
    background-color: aqua;
}

.linhaCentralizada{
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo-nav{
    width: 50%;
    display: flex;
    justify-content: flex-start;
}

.conteudoNav{
    width: 50%;
    display: flex;
    justify-content: flex-end;
}

.menu{
    display: flex;
    background-color: rgb(49, 49, 49);
    padding-left: 10%;
    padding-right: 10%;
}

.logo-nav img{
    width: 120px;
}


.menu-lista{
    display: flex;
}

.menu-item{
    list-style: none;
    padding: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 14pt;
    font-family: sans-serif;
    
}

.menu-item a {
    color: rgb(243, 243, 243);
    text-decoration: none;
}

.menu-item a:hover{
    color: rgb(255, 255, 255);
    text-decoration: underline;
}

.fotoPerfil{
    width: 30vh;
    height: 40vh;
    margin-top: 10px;
    background-color: azure;
}

.sobreMim{
    text-align: justify;
    padding: 10px;
    border-left: 3px solid rgb(98, 98, 255);
}

.sobreMim p, h1 {
    margin-bottom: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}